# Android
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
.idea/
captures/
.externalNativeBuild/
.cxx/

# Python / Flask
__pycache__/
*.py[cod]
*$py.class
env/
venv/
ENV/
env.bak/
venv.bak/
.env

# Windows / OS
Thumbs.db
.DS_Store

# Sensitive / Keys
tesis-musica-20242-firebase-adminsdk-*.json
*.jks
*.keystore
JKS
